body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b7bce7;
    margin: 0;
}

.grade-tracker {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}

button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
}

button:hover {
    background-color: #000000;
}

#results {
    margin-top: 20px;
}

#results p {
    margin: 5px 0;
}