.navbar{
    padding-bottom: 20%;
    background-color: rgb(255, 255, 255);
}
.img{
    width: 20%;
    margin-left: -100%;
    margin-top: 5%;
}
.p{
    color: rgb(0, 0, 0);
    margin-right: 70%;
    margin-left: 21%;
    margin-top: -3%;
    font-weight: bolder;
    font-size: xx-large;
}
.container{
    width: 20%;
}
.navbar-brand{
    margin-left: -30%;
    margin-inline-end: -63%;
}
.nav {
    margin-left: 40%;
    margin-top: -4%;
    font-weight: 650;
    font-size: large;
    margin-right: 38%;
}
#btn1 {
    margin-left: 75%;
    margin-top: -5%;
    border-radius: 7rem;
    background-color: rgb(240, 70, 106, 1);
    color: #ffffff;
    border-color: #ffffff;
}
#btn2{
    margin-right: -30%;
    border-radius: 7rem;
    margin-left: 45%;
    margin-bottom: 8%;
    margin-top: 8%;
}
#btn4{
    margin-right: 25%;
    margin-left: 0%;
    border-radius: 7rem;
}
#btn3{
    margin-left: 30%;
    border-radius: 7rem;
}
.h1{
    margin-left: 27%;
    margin-bottom: 10%;
    font-size: 7.5rem;
}
.p1{
    margin-left: 34%;
    margin-top: -7%;
    font-size: x-large;
}
.p2{
    margin-left: 42%;
    margin-top: -1%;
    font-size: x-large;
}
#btn5{
    margin-left: 48.2%;
    margin-top: 2%;
    border-radius: 7rem;
}
.img1{
    width: 210px;
    border-radius: 30%;
    margin-top: -59%;
    margin-left: 4%;
}
.img2{
    width: 10.8%;
    border-radius: 30%;
    margin-left: -1%;
    margin-top: -8%;
}
.img3{
    width: 10.8%;
    border-radius: 30%;
    margin-left: 85%;
    margin-top: -63%;
}
.img4{
    width: 10.8%;
    border-radius: 30%;
    margin-left: 76%;
    margin-top: -17%;
}
#divv{
    background-color: rgb(0, 0, 0);
    width: 55%;
    margin-left: 23%;
    border-radius: 7rem;
    height: 40%;
}
.p3{
    color: #ffffff;
    margin-left: 6%;
    font-size: xxx-large;
}
.p4{
    color: #f36f6f;
    margin-left: 6%;
}
.hr1{
    color: #ffffff;
    width: 44%;
    margin-top: -11%;
    margin-left: 6%;
}
.p5{
    color: #ffffff;
    margin-left: 6%;
    margin-top: -8%;
}
.hr2{
    color: #ffffff;
    width: 40%;
    margin-top: -17px;
    margin-left: 54%;
}
.p6{
    color: #ffffff;
    margin-left: 59%;
    margin-top: -14%;
    font-size: 249%;
}
.p7{
    color: #ffffff;
    margin-left: 80%;
    margin-top: -7.5%;
    font-size: 249%;
}
.p8{
    color: #ffffff;
    margin-left: 56%;
}
.p9{
    color: #ffffff;
    margin-left: 78%;
    margin-top: -165px;
}
.p10{
    color: #ffffff;
    margin-left: 6%;
    font-size: xxx-large;
}
.hr3{
    color: #ffffff;
    width: 85%;
    margin-top: -11%;
    margin-left: 6%;
}
.p11{
    color: #ffffff;
    margin-left: 6%;
    margin-top: -6%;
    font-size: 402%;
}
.p12{
    color: #ffffff;
    margin-left: 62%;
    margin-top: -11%;
}
.hr4{
    color: #ffffff;
    width: 85%;
    margin-left: 6%;
}
.p13{
    color: #ffffff;
    margin-left: 6%;
    margin-top: -1%;
    font-size: 402%;
}
.p14{
    color: #ffffff;
    margin-left: 62%;
    margin-top: -11%;
}
.p15{
    text-align: center;
    font-size: xxx-large;
}
.p16{
    margin-left: 18%;
    font-size: xx-large;
}
.p18{
    margin-left: 37%;
    margin-top: -176px;
    font-size: xx-large;
}
.p20{
    margin-left: 56%;
    margin-top: -175px;
    font-size: xx-large;
}
.p22{
    margin-left: 74%;
    margin-top: -9%;
    font-size: xx-large;
}
.p24{
    margin-left: 28%;
    margin-top: 8%;
    font-size: xx-large;
}
.p26{
    margin-left: 47%;
    margin-top: -8%;
    font-size: xx-large;
}
.p28{
    margin-left: 66%;
    margin-top: -8%;
    font-size: xx-large;
}
.a{
    margin-left: 37%;
    font-size: larger;
    color: #df3e96;
}
.img5{
    width: 15%;
    border-radius: 6rem;
    margin-left: 17%;
}
.img6{
    width: 14%;
    border-radius: 30%;
    margin-left: 2%;
}
.img7{
    width: 14%;
    border-radius: 34%;
    margin-left: 2%;
}
.img8{
    width: 14%;
    border-radius: 32%;
    margin-left: 2%;
}
.p29{
    color: #ffffff;
    margin-left: 21%;
}
.p30{
    color: #5f5b5b;
    margin-left: 422px;
    margin-top: -12px;
}
.p31{
    color: #ffffff;
    margin-left: 38%;
    margin-top: -68px;
}
.p32{
    color: #5f5b5b;
    margin-left: 751px;
    margin-top: -12px;
}
.p33{
    color: #ffffff;
    margin-left: 1053px;
    margin-top: -67px;
}
.p34{
    color: #5f5b5b;
    margin-left: 1065px;
    margin-top: -13px;
}
.p35{
    color: #ffffff;
    margin-left: 1344px;
    margin-top: -68px;
}
.p36{
    color: #5f5b5b;
    margin-left: 1380px;
    margin-top: -12px;
}
.img9{
    width: 8%;
    border-radius: 2rem;
    margin-left: 0%;
}










