body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5afaf;
}

.player {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.details {
    margin-bottom: 20px;
}

.controls button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
}

.controls button:hover {
    background-color: #000000;
}